.howtoplay {
    background: url("../images/howtoplay2.png") no-repeat center center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.backPlay {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #b78fc6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backPlay:hover {
    background-color: #1c0d26; 
}