.leaderboard {
    font-family: 'Press Start 2P', sans-serif;
    background: url("../images/1.png") no-repeat center / cover;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #444;
}

#leaderboardContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#leaderboardContainer p {
    font-size: 1.2em;
    margin: 8px 0;
}


/* Back button styling */
.backButton {
    background-color: #11572f; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #000000; 
}